.service-two__container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 141px;
}

.service-two{
    background-color: rgba(243, 209, 191, 1);
}

.portfolioo__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 68px;
}

.portfolio__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 141px;
}

.lates__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 92px;
}

.started__container{
    margin: 0 auto;
    
}

.containers{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 80px 200px; 
    background: rgb(255, 193, 184);
    
}

.started{
    background-color: rgba(58, 60, 86, 1);
    height: 336px;
   display: flex;
   padding: 0 auto;
}

.events__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 140px;
}

.events{
    background-color: rgba(58, 60, 86, 1); 
}

.info__card{
    background-color: rgba(58, 60, 86, 1); 
}

.info__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 64px;
}

.team{
    background-color: rgba(58, 60, 86, 1);  
}

.team__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 140px;
}