.service-two__container {
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 141px;
}

.service-two{
    background-color: rgba(243, 209, 191, 1);
}

.portfolioo__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 68px;
}

.portfolio__container{
    max-width: 1170px;
    width: 90%;
    margin: 0 auto;
    padding: 141px;
}
