* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
}

:root {
  --bg-primary: #28293e;
  --text-primary: rgba(255, 255, 255, 1);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.nav {
  background-color: var(--bg-primary);
  padding: 16px;
}

.nav__list {
  list-style: none;
  display: flex;
  gap: 90px;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: var(--text-primary);
  font-family: "Epilogue", sans-serif;
}

.header-btn {
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  padding: 18px 35px;
  border-radius: 6px;
  background-color: var(--bg-primary);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn {
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  padding: 18px 35px;
  border-radius: 6px;
  background-color: var(--bg-primary);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--text-primary);
  align-items: center;
}

.btn:hover {
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  padding: 18px 35px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #28293e;
  align-items: center;
  transition: background-color 2s ease;
  cursor: pointer;
}

.star {
  position: absolute;
  top: 230px;
  left: 330px;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: url(./images/Star.svg);
  background-size: contain;
  opacity: 0.2;
  z-index: 2;
}

.hero {
  background-color: var(--bg-primary);
}

.hero__container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

.hero__section {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: rgba(239, 109, 88, 1);
}

.hero__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: var(--text-primary);
  padding: 24px 0;
  z-index: 2;
}

.hero__wrapper {
  padding: 124px 0;
}

.hero__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: rgba(255, 255, 255, 0.64);
}

.btn__hero > span {
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.btn__hero {
  width: 154px;
  height: 48px;
  top: 608px;
  left: 135px;
  border-radius: 6px;
  background: rgba(239, 109, 88, 1);
  border: none;
}

.btn__hero:hover {
  width: 154px;
  height: 48px;
  top: 608px;
  left: 135px;
  border-radius: 6px;
  background: #15161a;
  border: none;
  transition: background-color 2s ease;
  cursor: pointer;
}

.button__wrapper {
  padding: 34px 0;
  display: flex;
  gap: 46px;
  align-items: center;
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.people {
  display: flex;
  gap: 22px;
  padding: 112px 0;
}

.people__h5 {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.logo__wrappper {
  display: flex;
  justify-content: space-between;
  gap: 146px;
}

.logo__container {
  max-width: 1170px;
  padding: 73px 135px;
  margin: 0 auto;
}

.line {
  width: 1170px;
  height: 1px;
  background: rgb(219, 177, 155);
  margin: 100px 0 0 0;
}

.lines {
  width: 290px;
  height: 1px;
  background: rgb(76, 0, 255);
}

.established__companies {
  background-color: rgba(243, 209, 191, 1);
}

.section {
  color: rgba(239, 109, 88, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.about__title {
  color: rgba(57, 20, 0, 1);
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  padding: 20px 0;
}

.info {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 26px 0;
  color: rgba(57, 20, 0, 1);
}

.about__info {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 15px 0;
}

.about__btn {
  width: 138px;
  height: 48px;
  top: 1632px;
  left: 835px;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  color: rgba(57, 20, 0, 1);
  background-color: white;
  border: none;
}

.about__btn:hover {
  width: 138px;
  height: 48px;
  top: 1632px;
  left: 835px;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  color: white;
  background-color: rgb(41, 41, 41);
  cursor: pointer;
  transition: background-color 2s ease;
}

.about__btn__wrapper {
  padding: 34px 0;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__container {
  max-width: 1170px;
  padding: 101px 139px;
  margin: 0 auto;
}

.about {
  background-color: rgba(243, 209, 191, 1);
}

.statistics {
  background-color: rgba(243, 209, 191, 1);
}

.card {
  display: flex;
  width: 500px;
  height: 176px;
  top: 1920px;
  left: 135px;
  gap: 0px;
  border-radius: 6px 0px 6px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgb(255, 191, 157);
  align-items: start;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 48px;
}

.cards {
  display: flex;
  width: 500px;
  height: 176px;
  top: 1920px;
  left: 135px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgb(255, 191, 157);
  align-items: start;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding-left: 48px;
}

.card__statistics {
  color: rgba(57, 20, 0, 1);
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  align-items: center;
}

.text__statistics {
  color: rgba(57, 20, 0, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  align-items: center;
  padding: 13px 0;
}

.statistics__wrapper {
  display: flex;
}

.statistics__container {
  max-width: 1170px;
  padding: 161px 135px;
  margin: 0 auto;
}

.work__container {
  max-width: 1170px;
  padding: 140px 135px;
  margin: 0 auto;
}

.work__title {
  color: rgba(239, 109, 88, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.work__text {
  color: rgba(57, 20, 0, 1);
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  padding: 17px 0;
}

.work__info {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 31px 0;
}

.read-more {
  color: rgba(57, 20, 0, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 28px 0;
}

.number {
  color: rgba(57, 20, 0, 1);
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  padding: 30px 0;
}

.text {
  color: rgba(57, 20, 0, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.list-item {
  display: flex;
  gap: 53px;
  align-items: center;
}

.work {
  background-color: rgba(243, 209, 191, 1);
}

.work__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video {
  background-color: rgba(243, 209, 191, 1);
}

.video__container {
  max-width: 1170px;
  padding: 120px 135px;
  margin: 0 auto;
}

.video__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__title {
  color: rgba(239, 109, 88, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.video__text {
  color: rgba(57, 20, 0, 1);
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  padding: 17px 0;
}

.video__info {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 28px 0;
}

.features__title {
  color: rgba(239, 109, 88, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.features__text {
  color: rgba(57, 20, 0, 1);
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  padding: 20px 0;
}

.features__info {
  color: rgba(57, 20, 0, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 26px 0;
}

.check__info {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 16px 0;
}

.check {
  display: flex;
  align-items: center;
  gap: 16px;
}

.features__container {
  max-width: 1170px;
  padding: 191px 135px;
  margin: 0 auto;
}

.features__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features {
  background-color: rgba(243, 209, 191, 1);
}

.features__part__title {
  color: rgba(239, 109, 88, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.features__part__info {
  color: rgba(57, 20, 0, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 30px 0;
}

.features__part__link {
  color: rgba(57, 20, 0, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 28px 0;
}

.icon {
  width: 60px;
  height: 60px;
  background-color: #f26655;
  border-radius: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  padding: 20px 48px;
}

.card__title {
  color: rgba(57, 20, 0, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  padding: 41px 48px;
}

.card__text {
  color: rgba(57, 20, 0, 0.64);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 19px 48px;
}

.card__child {
  width: 336px;
  height: 336px;
  top: 4160px;
  left: 635px;
  gap: 0px;
  border-radius: 6px 6px 0px 6px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 32px 64px 0px rgba(57, 20, 0, 0.04);
  background: rgba(255, 255, 255, 1);
}

.card__child:hover {
  width: 336px;
  height: 336px;
  top: 4160px;
  left: 635px;
  gap: 0px;
  border-radius: 6px 6px 0px 6px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  box-shadow: 0px 32px 64px 0px rgba(57, 20, 0, 0.04);
  background: rgba(239, 108, 87, 1);
  transition: background-color 2s ease;
  cursor: pointer;
}

.card__child-2:hover {
  width: 336px;
  height: 272px;
  top: 4224px;
  left: 970px;
  gap: 0px;
  border-radius: 0px 6px 6px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  transition: background-color 2s ease;
  cursor: pointer;
}

.card__child-2 {
  width: 336px;
  height: 272px;
  top: 4224px;
  left: 970px;
  gap: 0px;
  border-radius: 0px 6px 6px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid rgba(239, 108, 87, 1);
}

.card__hover {
  display: flex;
}

.features__part {
  background-color: rgba(243, 209, 191, 1);
}

.features__part__container {
  max-width: 1170px;
  padding: 191px 135px;
  margin: 0 auto;
}

.features__part__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  gap: 20px;
  padding: 31px 0;
}

.profile img {
  width: 64px;
  height: 64px;
  top: 5048px;
  left: 835px;
  gap: 0px;
  opacity: 0px;
}

.profile__info {
  color: rgba(57, 20, 0, 0.64);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.profile__name {
  color: rgba(57, 20, 0, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding: 12px 0;
}

.service__title {
  color: rgba(239, 109, 88, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
}

.service__item {
  color: rgba(57, 20, 0, 1);
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  padding: 20px 0;
}

.service__text {
  color: rgba(57, 20, 0, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.service {
  background-color: rgba(243, 209, 191, 1);
}

.service__container {
  max-width: 1170px;
  padding: 191px 135px;
  margin: 0 auto;
}

.service__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__btn {
  width: 138px;
  height: 48px;
  top: 5184px;
  left: 835px;
  gap: 0px;
  opacity: 0px;
  color: rgba(57, 20, 0, 1);
  background: rgba(255, 255, 255, 1);
  border: none;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
}

.service__btn:hover {
  width: 138px;
  height: 48px;
  top: 5184px;
  left: 835px;
  gap: 0px;
  opacity: 0px;
  color: rgba(57, 20, 0, 1);
  background: rgba(239, 108, 87, 1);
  border: none;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.08);
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  transition: background-color 2s ease;
  cursor: pointer;
}

@media (max-width: 571px) {
body{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

img{
  max-width: 100%;
}

.service-two__container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

  .container {
    padding: 0 15px;
  }
  img {
    width: 100%;
  }

  .about__wrapper {
    flex-direction: column;
  }

  .features__part__wrapper {
    flex-direction: column;
  }

  .nav__list {
    flex-direction: column;
    gap: 20px;
  }

  .nav__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hero__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: 48px;
    line-height: 56px;
    padding: 16px 0;
  }

  .btn__hero {
    width: 100%;
    margin-top: 16px;
    top: auto;
    left: auto;
  }

  .button__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .people {
    flex-direction: column;
    gap: 20px;
  }

  .logo__wrappper {
    flex-direction: column;
    gap: 20px;
  }

  .line {
    width: 100%;
    height: 1px;
    margin: 50px 0;
  }

  .section,
  .info,
  .about__info,
  .read-more,
  .number,
  .text {
    font-size: 14px;
    line-height: 24px;
  }

  .about__title,
  .work__title,
  .video__title,
  .features__title,
  .service__title {
    font-size: 20px;
  }

  .work__wrapper,
  .video__wrapper,
  .features__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .service__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card,
  .cards {
    width: 100%;
    height: auto;
    padding-left: 16px;
  }

  .card__child,
  .card__child-2 {
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .profile img {
    width: 48px;
    height: 48px;
  }

  .service__btn {
    width: 100%;
  }
}
